<ion-content>
<div class="header">
	<p>Bienvenido</p>
</div>
	<form novalidate name="formLogin">
	<div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Usuario</span>
	    <input type="text"
	    placeholder="Usuario"
	    ng-model="form.user"
	    required>
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Contraseña</span>
	    <input type="password"
	    placeholder="Contraseña"
	    ng-model="form.password"
	    required>
	  </label>
	  	<button class="button button-calm button-full"
	  			ng-disabled="formLogin.$invalid"
	  			ng-click="vm.login(form)">
	  		Entrar
		</button>
	</div>
	</form>
</ion-content>


<div class="bar bar-footer bar-assertive">
  <div 	class="title"
  		ui-sref="register">Registrame
  	</div>
</div>