<ion-header-bar class="bar bar-header bar-calm">
      <h1 class="title">Nueva Nota</h1>
      <button class="button button-clear button-primary" ui-sref="home">Volver</button>
</ion-header-bar>
<ion-content>
	<form name="formNote" novalidate>
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Titulo</span>
		    <input 	type="text"
		    		placeholder="Titulo"
		    		ng-model="form.titulo"
		    		required>
		  </label>
		  <label class="item item-input item-floating-label">
		  <span class="input-label">Cuerpo</span>
				<textarea 	placeholder="Cuerpo"
							ng-model="form.body"
							required
							rows="5"></textarea>
			</label>
		</div>
		<button class="button button-calm button-full"
				ng-disabled="formNote.$invalid"
				ng-click="vm.NewNote(form)">Agregar</button>
	</form>
</ion-content>