<ion-content>
<div class="list">

  <div class="item item-divider">
   Notas de {{ vm.user.username }}
  </div>

  	<div class="list" ng-repeat="nota in vm.notas track by $index">
	    <a class="item item-icon-left"  ui-sref="details({id: nota.id})">
	     <i class="icon ion-document-text calm"></i>
	    	<h2>{{ nota.titulo }}</h2>
			<span> {{ nota.fecha  | date:"dd/MM/yyyy 'a las' h:mma"}} </span>
	    </a>
	</div>
</div>

</ion-content>

<div class="bar bar-footer bar-balanced">
  <div 	class="title"
      ui-sref="newNote">Agregar Nota
  	</div>
</div>